@require 'nanarinostyl/lib/mixins/*'
@require 'nanarinostyl/lib/variables/*'

.view
  position relative
  margin 0 auto
  .item
    overflow hidden
    position absolute
    transition 0.4s
    z-index 2
    &:last-of-type
      z-index 1
      clip-path inset(1px 1px)
      animation ani 6s ease-in-out infinite alternate
  &:active > .item:last-of-type
    clip-path inset(8px 8px)
@keyframes ani
  0%
    filter blur(0)
    opacity 0.3
  50%
    filter blur(5px)
    opacity 0.7
  100%
    filter blur(0)
    opacity 0.3
