@require 'nanarinostyl/lib/mixins/*'
@require 'nanarinostyl/lib/variables/*'

.dialog
  position absolute
  justify-items center
  align-items center
  box-sizing border-box
  border-radius 50%
  inset: 0
  &[open]
    display grid
  p
    margin 0
