@import 'nanarinostyl/src/lib/variable/*'

.dialog
  position absolute
  justify-items center
  align-items center
  box-sizing border-box
  border-radius 50%
  background-color rgb(var(--white) \/ 30%)
  backdrop-filter blur(24px)
  &[open]
    display grid
  p
    margin 0
