div#alert-box {
  position: absolute;
  z-index: 3;
  inset: 0;
  margin: auto;

  display: grid;
  justify-items: center;
  align-items: center;

  box-sizing: border-box;

  border-radius: 50%;
  background-color: #00ffffaa;
  backdrop-filter: blur(24px);
  mix-blend-mode: difference;

  p {
    margin: 0;
    mix-blend-mode: darken;
  }

  button {
    background: yellow;
    border: none;
  }

  * {
    text-shadow: 0 0 2px #000;
  }
}
