@require 'nanarinostyl/lib/mixins/*'
@require 'nanarinostyl/lib/variables/*'
@require 'nanarinostyl/lib/primary'
@require 'nanarinostyl/lib/common/font'
@require 'nanarinostyl/lib/typography/image'
@require 'nanarinostyl/lib/components/button'
@require 'nanarinostyl/lib/components/dialog'

body
  margin 0
  padding 0

.glass
  background-color rgb(var(--gray-3) \/ 30%)
  backdrop-filter blur(24px)
