@import 'nanarinostyl/src/lib/variable/*'
@import 'nanarinostyl/src/lib/font.styl'
@import 'nanarinostyl/src/lib/primary.styl'
@import 'nanarinostyl/src/lib/typography/image.styl'
@import 'nanarinostyl/src/lib/components/button.styl'
@import 'nanarinostyl/src/lib/components/dialog.styl'

body
  margin 0
  padding 0
